.container {
    width: 880px;
    margin: 150px auto;
    background-color: blue;
    @media screen and (max-width: 900px) {width: 590px; background-color: red;}
}
/*
@media screen and (max-width: 900px) {
  .container {
      width: 590px;
  }
}
*/
.menu {
    display: inline-block;
    margin: 20px;
    background-color: yellow;
    width: 250px;
    font-size: 70px;
    color: black;
    font-family: Arial;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}
.menu:hover {
    color: white;
    background-color: red;
}
