.container {
    width: 82vw;
    margin: 5vh auto;
}

/*
@media screen and (max-width: 900px) {
  .container {
      width: 590px;
  }
}
*/

.menu {
    display: inline-block;
    margin: 12px;
    background-color: white;  /* #ffbf18; */
    width: 220px;
    font-size: 70px;
    color: blue;
    font-family: 'PT Sans Caption';
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.menu:hover {
    background-color: #ffd25e; /*#F88017;*/
}

.podcast {
    display: inline-block;
    margin: 12px;
    background-color: white;
    width: 220px;
    font-size: 70px;
    color: black;
    font-family: 'PT Sans Caption';
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.podcast:hover {
    background-color: #C0C0C0;
}

/*
.podcast {
    margin: 20px;
    background-color: #000000;
    width: 830px;
    font-size: 50px;
    color: white;
    font-family: Arial;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.podcast:hover {
    background-color: gray;
}
*/

a {
    cursor: default;
}

.bordo {
    margin: 18px;
    border-top: solid 10px #ff3300;
}
    
