body {
    background-color: black;
}

.container {
    width: 92vw;
    margin: 1vh auto;
}

.menu {
    display: inline-block;
    width: 45vw;
    font-size: 40px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    padding-top: 6vh;
    padding-bottom: 6vh;
    text-align: center;
}
.menu:hover {
    color: #FF3300;
    cursor: pointer;
}
